/*
  Fonts
*/

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  src: local(Source Sans Pro ExtraLight),
    url(fonts/SubsetSourceSansPro-ExtraLight.woff);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  src: local(Source Sans Pro Light),
    url(fonts/SubsetSourceSansPro-Light.woff);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: local(Source Sans Pro),
    url(fonts/SubsetSourceSansPro-Regular.woff);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: local(Source Sans Pro Semibold),
    url(fonts/SubsetSourceSansPro-SemiBold.woff);
}

/*
  General
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: snow;
  font-size: 20px;
  margin: 0;

  background-color: #FF822E;
  background-image: -webkit-linear-gradient(172deg, #ff822e 0%, #fa6c6c 100%, #fbb8b8 100%);
  background-image: -moz-linear-gradient(172deg, #ff822e 0%, #fa6c6c 100%, #fbb8b8 100%);
  background-image: -o-linear-gradient(172deg, #ff822e 0%, #fa6c6c 100%, #fbb8b8 100%);
  background-image: linear-gradient(172deg, #ff822e 0%, #fa6c6c 100%, #fbb8b8 100%);
}

#main-wrapper {
  margin: 10px auto;
  width: 500px;
  min-height: 100vh;
}
@media screen and (max-width: 550px) {
  #main-wrapper {
    width: 95vw;
  }
}

li {
  list-style: none;
}

a {
  color: snow;
  text-decoration: none;
}

/*
  Header
*/

header {
  text-align: center;
  font-weight: 200;
}

h1 {
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 0;
  margin-top: 1em;
}
@media screen and (max-width: 550px) {
  h1 {
    margin-top: .2em;
  }
}

.subtitle {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  margin-top: .2em;
}

/*
  Main
*/

main {
  margin-top: 50px;
}

#search-box {
  margin: 0 auto;
  width: 250px;
}
input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-style: none;
  border-bottom: thin solid snow;
  padding: 0 1px;
  color: snow;
  text-align: center;
  font-size: 20px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: snow;
  opacity: 0.5;
}
input::-webkit-input-placeholder {
  color: snow;
  opacity: 0.5;
}
input::-moz-placeholder {
  color: snow;
  opacity: 0.5;
}
input:-ms-input-placeholder {
  color: snow;
  opacity: 0.5;
}
input:-moz-placeholder {
  color: snow;
  opacity: 0.5;
}

.dictionary-words {
  margin-top: 0px;
  border-bottom: thin solid snow;
}
.word {
  margin: 0.5em;
  display: flex;
  font-weight: 400;
}
@media screen and (max-width: 350px) {
  .word {
    display: block;
  }
}
.entry {
 border-radius:2em;
 margin: 1.5em 0;
 display:flex;
}
.exact-match {
  background: sienna;
}
.word-name {
  display: inline-table;
  align-self: center;
  width: 90px;
}
.word-meanings {
  display: block;
  align-self: flex-end;
  width: auto;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
@media screen and (max-width: 350px) {
  .word-meanings {
    width: 100%;
  }
}
.meaning {
  margin: 0;
  padding: 0;
}
.speech-type {
  color: #efe8e8;
  font-weight: 200;
  margin-right: 4px;
}

/*
  Footer
*/

footer {
  margin-top: 50px;
  font-size: 16px;
}

.footer-title {
  font-weight: 600;
}
.parts-of-speech {
  font-weight: 300;
}

.credits {
  font-weight: 600;
  font-size: 10px;
  width: 100%;
  margin-top: 50px;
  bottom: 0;
}
.credits ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.credits li {
  display: block;
}
@media screen and (max-width: 550px) {
  .credits ul {
    flex-direction: column;
  }
  .credits li {
    text-align: center;
    display: block;
  }
}
